body {
  margin: 0;
}

p {
  margin: 0;
}

.header {
    background-color: red;
    color: black;
}

.content {
    background-color: blue;
    color: white;
}

.footer {
    background-color: green;
    color: yellow;
}